<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Timeline.js Template</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body ng-app="formExample">
<script type="text/ng-template" id="/tpl.html">
</script>
  <div class="container" ng-controller="ExampleController">
    <form novalidate class="simple-form">
      <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input ng-model="user.name" type="text" class="form-control" id="exampleInputName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input ng-model="user.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
      </div>
      <input type="button" class="btn btn-default" ng-click="reset()" value="Reset" />
      <input type="submit" class="btn btn-default" ng-click="update(user)" value="Save" />
    </form>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 contentEditable=true ng-model="timeline.date[0].headline" class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        {{timeline.date[0].headline}}
      </div>
    </div>
    <div></div>
  </div>

  <script>
    angular.module('formExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.master = {};
      $scope.timeline = {};
      $scope.timeline.date=[];

      $scope.update = function(user) {
        $scope.master = angular.copy(user);
      };

      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };

      $scope.reset();
    }]);
  </script>
</body>
</html>